openapi: 3.1.0
info:
  title: Encompass Developer Connect Authentication Loan Pipeline API
  description: Encompass Developer Connect is a REST API platform from ICE Mortgage Technology that allows developers to programmatically configure, customize, and administer loan information and resources for Encompass clients. The platform exposes APIs across loan manufacturing, loan pipeline management, product and pricing, compliance, documents and eFolder, loan data extracts, and loan folders. Authentication is handled with OAuth 2.0, and supports User Impersonation, API User (ISV Partner), Federated SAML SSO, and Multi-Factor Authentication.
  version: 1.0.0
  contact:
    name: ICE Mortgage Technology Developer Connect
    url: https://developer.icemortgagetechnology.com/developer-connect/docs/welcome
  license:
    name: Proprietary
    url: https://www.icemortgagetechnology.com/legal/terms
servers:
- url: https://api.elliemae.com/encompass/v3
  description: Encompass Developer Connect production base URL
tags:
- name: Loan Pipeline
  description: Operations for searching and filtering Encompass loan pipelines, including saved pipeline views and ad-hoc cursor-based queries across the loan portfolio.
paths:
  /loanPipeline:
    post:
      operationId: searchLoanPipeline
      summary: Encompass Developer Connect Search the loan pipeline
      description: Returns a paginated, filtered view of loans in the Encompass pipeline. Callers may pass field-level filters, sort orders, and a cursor to iterate through large result sets.
      tags:
      - Loan Pipeline
      security:
      - oauth2: []
      parameters:
      - name: cursorType
        in: query
        schema:
          type: string
          enum:
          - randomAccess
          - sequential
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineQuery'
      responses:
        '200':
          description: Loan pipeline search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineLoan'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    PipelineQuery:
      type: object
      properties:
        filter:
          type: object
          description: Field-level filter expressions for pipeline search
        sortOrder:
          type: array
          items:
            type: object
            properties:
              canonicalName:
                type: string
              order:
                type: string
                enum:
                - asc
                - desc
        fields:
          type: array
          items:
            type: string
    PipelineLoan:
      type: object
      properties:
        loanGuid:
          type: string
        fields:
          type: object
          additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.elliemae.com/oauth2/v1/token
          scopes:
            lp: Loan pipeline access
            lor: Loan origination access
        clientCredentials:
          tokenUrl: https://api.elliemae.com/oauth2/v1/token
          scopes:
            lp: Loan pipeline access
            lor: Loan origination access
externalDocs:
  description: Encompass Developer Connect documentation
  url: https://developer.icemortgagetechnology.com/developer-connect/docs/welcome
